/* Глобальные стили */
body { 
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Crimson Text', serif; */
  /* font-family: 'Roboto', sans-serif; */
  margin: 0;
  background-color: #F4F4F4;
}

a { 
  text-decoration: none; 
}

html { 
  box-sizing: border-box; 
}

*, 
*::before,
*::after { 
  box-sizing: inherit; 
}

img { 
  max-width: 100%;
}

.container-back {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; 

  background-color: #FFFFFF;
}

.container {
  width: 100%;
  max-width: 1220px;
  padding: 0px 20px;
  margin: 0 auto; 
}

.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px); /* IE6, IE7 */
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

/* header *************************************/
.header {
  display: flex;
  padding: 49px 20px 36px;
  align-items: center;
}

.header__logo {
  min-width: 100px;
  height: 52px;
}

.header__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list,
.header__nav-list_links {
  list-style-type: none;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-left: 60px;
}

.header__nav-list_links {
  list-style-type: none;
  display: flex;
  padding-top: 3px; 
}

.header__nav-item {
  padding-right: 20px;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
}

.header__nav-item:hover {
  opacity: 0.5;
}

.header__nav-item_link-bold {
  margin-left: 2px; 
  margin-right: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
}

.header__nav-item_link-bold:hover {
  opacity: 0.5;
}

/* breadcrumbs ***************************/
.breadcrumbs {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

.breadcrumbs__img {
  height: 12px;
  width: 8px;
  margin-left: 20px;
  margin-right: 20px;
}

.breadcrumbs__link {
  color: #1E0606;
}

.breadcrumbs__link:hover {
  opacity: 0.75;
}

.breadcrumbs__current-page {
  opacity: 0.5;
}

/* footer **************************/
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background: #434343;
}

.footer__nav-connect {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 98px 110px 13px;
}

.footer__nav-list, 
.footer__social-list,
.footer__success-list  {
  list-style-type: none;
}

.footer__titles,
.footer__link {
  color: #AAAAAA;
}

.footer__nav-item,
.footer__success, 
.footer__copyr {
  color: #FFFFFF;
}

.footer__titles,
.footer__nav {
  padding: 0px;
  margin: 0px;
}

.footer__nav {
  width: 389px;
}

.footer__nav-list {
  padding: 0px;
  margin: 0px;
}

.footer__titles::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  margin-top: 23px;
  margin-bottom: 28px;
  background-color: #666666;
  border: none;
}

.footer__nav-item {
  display: block;
  margin-bottom: 16px;
  background-color: #434343;
}

.footer__nav-item:hover {
  opacity: 0.5;
}

.footer__nav-item:active {
  opacity: 0.2;
}

.footer__user-connect {
  display:flex;
  flex-direction: column;
  width: 380px;
}

.footer__input-email {
  padding: 10px 10px;
  width: 298px;
  color: #FFFFFF;
  background-color: #666666;
  outline: none;
  border: 1px solid transparent; 
}

.footer__input-email:hover {
  border-color: #FFFFFF; 
}

.footer__input-email:focus {
  background-color: #FFFFFF;
  color: #000000;
}
.footer__input-email::placeholder {
  color: #FFFFFF;
}

/* КНОПКА */
.footer__button-join {
  width: 81px; 
  padding: 11px 22px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer__button-join:hover{
  background: #C29974;
}

.footer__button-join:active{
  background: #CFAF91;
} 

.footer__social-list {
  display:flex;
  padding: 25px 0 0;
  margin: 0px;
}

.footer__social-item {
  padding-right: 10px;
}

.footer__img:hover {
  opacity: 0.5;
}

.footer__additional::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: #666666;
  border: none;
}

.footer__additional {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 110px 100px;
}

.footer__web-design,
.footer__copyr,
.footer__success {
  display: flex;
  width: 380px;
  padding-top: 7px;
}

.footer__success-list {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 245px;
  float: left;
}

.footer__input-star {
  display: none;
} 

.footer__success-list:not(:checked) > label {
  margin-left: 5px;
	cursor: pointer;
}

.rating-area:not(:checked) > label:before {
  content:url("/images/star.png");
  cursor: pointer;
}

.footer__success-list > input:hover ~ label {
  content:url("/images/star-hover.png");
  margin-bottom: 1.55px;
  cursor: pointer;
}

.footer__success-list > input:checked ~ label {
  content:url("/images/star-focus.png");
  margin-bottom: 1.55px;
  cursor: pointer;
}

.footer__link:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.footer__success-list input:checked ~ p {
  color: #C29974;
}

.footer__success-list label:hover ~ p {
  color: #C29974;
}

.footer__success-title {
  margin-right: 27px;
}